{% extends "blog/base.html" %}
{% block title %}{% if is_edit %}Edytuj produkt{% else %}Dodaj produkt{% endif %}{% endblock %}
{% block content %}
  <div class="form-box">
    <h1>{% if is_edit %}Edytuj produkt{% else %}Dodaj produkt{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="actions">
        <button class="button" type="submit">{% if is_edit %}Zapisz zmiany{% else %}Utwórz{% endif %}</button>
        <a class="button secondary" href="{% url 'post_list' %}">Powrót</a>
      </div>
    </form>
  </div>
{% endblock %}
